.light {
    --color-primary: white;
    --color-secondary: black;
    --color-accent: #f56f36;
    --font-color: black;
  }
  
  .dark {
    --color-primary: black;
    --color-secondary: white;
    --color-accent: #f56f36;
    --font-color: white;
  }